<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/uaredirect.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("{$SystemGlobalcfm_global[SiteUrl]}/m/index.php?mod=corp&catid={$catid}&cityid={$cityid}");</script>
<title>{$page_title}</title>
<link rel="shortcut icon" href="{$SystemGlobalcfm_global[SiteUrl]}/favicon.ico" />
<link rel="stylesheet" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/global.css" />
<link rel="stylesheet" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/style.css" />
<link rel="stylesheet" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/corp.css" />
<link rel="stylesheet" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/pagination2.css" />
<script src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/global.js" type="text/javascript"></script>
<script src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/jquery.min.js" type="text/javascript"></script>
</head>

<body class="{$SystemGlobalcfm_global[cfg_tpl_dir]} full bodybg{$SystemGlobalcfm_global[cfg_tpl_dir]}{$SystemGlobalcfm_global[bodybg]}">
{mytemplate inc_head}
<div class="body1000">
	<div class="clear"></div>
	<div class="location">{$location}</div>
	<div class="clear"></div>
	<div class="corporation_content">
		<div class="content_left">
		<div class="cate_seller">
		<div class="bd">
			<ul>
            	<!--{php $i=1;}-->
                <!--{loop $ypcategory $SystemGlobalcfm}-->
				<li class="item">
				<a href="javascript:void({$SystemGlobalcfm[corpid]});" class="rights" onclick="showHide(this,'items{$SystemGlobalcfm[corpid]}');">{$SystemGlobalcfm[corpname]}</a>
				<ul id="items{$SystemGlobalcfm[corpid]}" style="display:{if $catid > 0}{if $SystemGlobalcfm[corpid] == $cur[parentid] || $SystemGlobalcfm[corpid] == $catid}{else}none{/if}{else}{if $i==1}{else}none{/if}{/if};">
				<li><a href="{$SystemGlobalcfm[uri]}">全部</a></li>
                <!--{loop $SystemGlobalcfm[children] $w}-->
				<li><a href="{$w[uri]}" {if $catid == $w[corpid]}class="current"{/if}>{$w[corpname]}</a></li>
				<!--{/loop}-->
				</ul>
				</li>
                <!--{php $i++;}-->
                <!--{/loop}-->
			</ul>
		</div>
		</div>
			<div class="clear"></div>
			<div class="joinus">
				<ul>
					<a href="{$SystemGlobalcfm_global[SiteUrl]}/{$SystemGlobalcfm_global[cfg_member_logfile]}?mod=register&action=store" target="_blank" class="joinshop">即刻登记我的商铺</a>
					<center>立刻拥有机构展示网站</center>
				</ul>
			</div>
		</div>
		<div class="content_right">
			<div class="hot_corporations">
				<div class="hd cfix"><span class="hdl">推荐商家店铺</span><span class="hdr">入驻热线：{$SystemGlobalcfm_global[SiteTel]}</span></div>
				<div class="clearfix"></div>
				<div class="bd cfix">
				<ul>
                	<!--{php $hotmember	= qq3479015851_get_members(10,NULL,NULL,NULL,NULL,2);}-->
                	<!--{loop $hotmember $k $SystemGlobalcfm}-->
					<li><span class="imga"><a href="{$SystemGlobalcfm[uri]}" class="f13" target="_blank" title="{$SystemGlobalcfm[tname]}"><img src="{$SystemGlobalcfm_global[SiteUrl]}{$SystemGlobalcfm[prelogo]}" alt="{$SystemGlobalcfm[tname]}"></a></span><span class="txt"><a href="{$SystemGlobalcfm[uri]}" target="_blank">{$SystemGlobalcfm[tname]}</a></span></li>
					<!--{/loop}-->
				</ul>
				</div>
			</div>
            <!--{if $area_list}-->
			<div class="clear"></div>
			<div class="area_select">
				区域查找：
                <!--{loop $area_list $k $SystemGlobalcfm}-->
				<a href="{$SystemGlobalcfm[uri]}" {if $SystemGlobalcfm[select] == 1}class="currenta"{/if}>{$SystemGlobalcfm[areaname]}</a>
				<!--{/loop}-->
			</div>
			<!--{/if}-->
			<div class="clearfix"></div>
			<div class='section'>
				<ul class='sep'>
                <!--{loop $member $k $SystemGlobalcfm}-->
				<li class='hover media cfix {if $member[levelid] == 3}vip{/if}'>
				<a href='{$SystemGlobalcfm[uri]}' target='_blank' class='media-cap'><img src='{if !$SystemGlobalcfm[prelogo]}{$SystemGlobalcfm_global[SiteUrl]}/images/nophoto.gif{else}{$SystemGlobalcfm_global[SiteUrl]}{$SystemGlobalcfm[prelogo]}{/if}' alt=''></a>
				<div class='media-body'>
				<div class='media-body-title'>
					<div class='pull-rights'>
						<a class="see" href="{$SystemGlobalcfm[uri]}" target="_blank">进入店铺</a> <a class="dianping" target="_blank" href="{$SystemGlobalcfm[uri_comment]}">我要点评</a>
					</div>
					<a href='{$SystemGlobalcfm[uri]}' target='_blank'>{$SystemGlobalcfm[tname]}</a> &nbsp;&nbsp;<img src="{$SystemGlobalcfm_global[SiteUrl]}/images/credit/{$SystemGlobalcfm[credits]}.gif" align="absmiddle" alt="信用值：{$SystemGlobalcfm[credit]}"> 
				</div>
				<div class='typo-small'>{if $SystemGlobalcfm[per_certify] == 1}<img src="{$SystemGlobalcfm_global[SiteUrl]}/images/person1.gif" alt="已通过身份证认证" align="absmiddle"/>{else}<img src="{$SystemGlobalcfm_global[SiteUrl]}/images/person0.gif" alt="未通过身份证认证" align="absmiddle"/>{/if} {if $SystemGlobalcfm[com_certify] == 1}<img src="{$SystemGlobalcfm_global[SiteUrl]}/images/company1.gif" alt="已通过营业执照认证" align="absmiddle"/>{else}<img src="{$SystemGlobalcfm_global[SiteUrl]}/images/company0.gif" alt="未通过营业执照认证" align="absmiddle"/>{/if}</div>
				<div class='typo-smalls'>地址：{$SystemGlobalcfm[address]} &nbsp;&nbsp;&nbsp;&nbsp;<a href="{$SystemGlobalcfm[uri_contactus]}" target="_blank">查看地图</a></div>
				</div>
				</li>
                <!--{loopelse}-->
                <li class="media">没有找到相关的店铺！换个其它的分类看看吧 ^_^</li>
				<!--{/loop}-->
				<div class="clearfix"></div>				
				</ul>
			</div>
			<div class="clear"></div>
			<div class="pagination2">{$pageview}</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
	{mytemplate inc_foot}
</div>
<script>loadDefault(['hover_bg','dropdown']);</script>
</body>
</html>