{mytemplate inc_header}
<!--{if $SystemGlobalcfm_global[head_style] == 'normal'}-->
<div class="body1000">
<div class="daohang_con2">
    <div class="daohang2">
        <ul>
            <li><a href="{$city[domain]}" id="index">首页</a></li>
            <!--{php $navurl_header = qq3479015851_get_navurl('header',15);}-->
            <!--{loop $navurl_header $k $SystemGlobalcfm}-->
            <li><a {if $SystemGlobalcfm[flag] == $cat[catid] || $SystemGlobalcfm[flag] == $cat[parentid]}class="current"{/if} target="{$SystemGlobalcfm[target]}" id="{$SystemGlobalcfm[flag]}" href="{if $SystemGlobalcfm[flag] != 'outlink'}{$city[domain]}{/if}{$SystemGlobalcfm[url]}"><font color="{$SystemGlobalcfm[color]}">{$SystemGlobalcfm[title]}</font><sup class="{$SystemGlobalcfm[ico]}"></sup></a></li>
            <!--{/loop}-->
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<!--{else}-->
<div class="body1000">
<div class="daohang_con">
    <div class="categories">
        <dl id="infomenu">
        <dt class="titup"><b>信息分类</b></dt>
        <dd class="cont" style="display:none;">
        <ul>
        <!--{php $global_cat = get_categories_tree(0,'category');}-->
        <!--{loop $global_cat $SystemGlobalcfm}-->
        <li>
        <em><a href="{$city[domain]}{$SystemGlobalcfm[uri]}" style="color:{$SystemGlobalcfm[color]}" target="_blank" title="{$city[cityname]}{$SystemGlobalcfm[catname]}">{$SystemGlobalcfm[catname]}</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
        <!--{loop $SystemGlobalcfm[children] $w}-->
        <a href="{$city[domain]}{$w[uri]}" style="color:{$w[color]}" target="_blank" title="{$city[cityname]}{$w[catname]}">{$w[catname]}</a>
        <!--{/loop}-->
        </dd>
        </dl>
        </li>
        <!--{/loop}-->
        </ul>
        </dd>
        </dl>
    </div>
    <div class="daohang">
        <ul>
            <li><a href="{$city[domain]}" id="index">首页</a></li>
            <!--{php $navurl_header = qq3479015851_get_navurl('header',15);}-->
            <!--{loop $navurl_header $k $SystemGlobalcfm}-->
            <li><a {if $SystemGlobalcfm[flag] == $cat[catid] || $SystemGlobalcfm[flag] == $cat[parentid]}class="current"{/if} target="{$SystemGlobalcfm[target]}" id="{$SystemGlobalcfm[flag]}" href="{if $SystemGlobalcfm[flag] != 'outlink'}{$city[domain]}{/if}{$SystemGlobalcfm[url]}"><font color="{$SystemGlobalcfm[color]}">{$SystemGlobalcfm[title]}</font><sup class="{$SystemGlobalcfm[ico]}"></sup></a></li>
            <!--{/loop}-->
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<script>loadDefault(['category','category_select'])</script>
<!--{/if}-->