{mytemplate inc_header}
<!--{if $qq3479015851_global[head_style] == 'normal'}-->
<div class="body1000">
<div class="daohang_con2">
    <div class="daohang2">
        <ul>
            <li><a href="{$city[domain]}" id="index">首页</a></li>
            <!--{php $navurl_header = qq3479015851_get_navurl('header',15);}-->
            <!--{loop $navurl_header $k $qq3479015851}-->
            <li><a {if $qq3479015851[flag] == $cat[catid] || $qq3479015851[flag] == $cat[parentid]}class="current"{/if} target="{$qq3479015851[target]}" id="{$qq3479015851[flag]}" href="{if $qq3479015851[flag] != 'outlink'}{$city[domain]}{/if}{$qq3479015851[url]}"><font color="{$qq3479015851[color]}">{$qq3479015851[title]}</font><sup class="{$qq3479015851[ico]}"></sup></a></li>
            <!--{/loop}-->
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<!--{else}-->
<div class="body1000">
<div class="daohang_con">
    <div class="categories">
        <dl id="infomenu">
        <dt class="titup"><b>信息分类</b></dt>
        <dd class="cont" style="display:none;">
        <ul>
        <!--{php $global_cat = get_categories_tree(0,'category');}-->
        <!--{loop $global_cat $qq3479015851}-->
        <li>
        <em><a href="{$city[domain]}{$qq3479015851[uri]}" style="color:{$qq3479015851[color]}" target="_blank" title="{$city[cityname]}{$qq3479015851[catname]}">{$qq3479015851[catname]}</a></em>
        <dl>
        <dt><b></b></dt>
        <dd>
        <!--{loop $qq3479015851[children] $w}-->
        <a href="{$city[domain]}{$w[uri]}" style="color:{$w[color]}" target="_blank" title="{$city[cityname]}{$w[catname]}">{$w[catname]}</a>
        <!--{/loop}-->
        </dd>
        </dl>
        </li>
        <!--{/loop}-->
        </ul>
        </dd>
        </dl>
    </div>
    <div class="daohang">
        <ul>
            <li><a href="{$city[domain]}" id="index">首页</a></li>
            <!--{php $navurl_header = qq3479015851_get_navurl('header',15);}-->
            <!--{loop $navurl_header $k $qq3479015851}-->
            <li><a {if $qq3479015851[flag] == $cat[catid] || $qq3479015851[flag] == $cat[parentid]}class="current"{/if} target="{$qq3479015851[target]}" id="{$qq3479015851[flag]}" href="{if $qq3479015851[flag] != 'outlink'}{$city[domain]}{/if}{$qq3479015851[url]}"><font color="{$qq3479015851[color]}">{$qq3479015851[title]}</font><sup class="{$qq3479015851[ico]}"></sup></a></li>
            <!--{/loop}-->
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div id="ad_header"></div>
<div class="clearfix"></div>
<script>loadDefault(['category','category_select'])</script>
<!--{/if}-->