<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/uaredirect.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("{$SystemGlobalcfm_global[SiteUrl]}/m/index.php?mod=news&cityid={$city[cityid]}");</script>
<title>{$page_title}</title>
<meta name="keywords" content="{$s[keywords]}" />
<meta name="description" content="{$s[description]}" />
<link rel="shortcut icon" href="{$SystemGlobalcfm_global[SiteUrl]}/favicon.ico" />
<link rel="stylesheet" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/global.css" />
<link rel="stylesheet" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/style.css" />
<link rel="stylesheet" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/newstyle.css" />
<script src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/global.js" type="text/javascript"></script>
<script src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/jquery.flashSlider-1.0.min.js"></script>
</head>

<body class="{$SystemGlobalcfm_global[cfg_tpl_dir]} full bodybg{$SystemGlobalcfm_global[cfg_tpl_dir]}{$SystemGlobalcfm_global[bodybg]}">
	{mytemplate inc_head}
	<div class="clear"></div>
    <div class="body1000">
		<div class="location">{$location}</div>
		<div class="clear"></div>
		<div class="column">
			<div class="col3">
				<div class="newsfocus">
					<div id="slider">
					<ul>
                    <!--{php $focus = qq3479015851_get_focus('news',3);}-->
                    <!--{loop $focus $SystemGlobalcfm}-->
					<li><a href="{$SystemGlobalcfm[url]}" title="{$SystemGlobalcfm[words]}" target="_blank"><img src="{echo strstr($SystemGlobalcfm[image],'http') ? $SystemGlobalcfm[image] : $SystemGlobalcfm_global[SiteUrl].$SystemGlobalcfm[image]}" alt="{$SystemGlobalcfm[words]}" width="333" height="226" border="0" /></a></li>
					<!--{/loop}-->
					</ul>
					</div>
					<script type="text/javascript">$(document).ready(function() {$("#slider").flashSlider();});</script>
				</div>
				<div class="clear"></div>
				<div class="newinfo">
					<div class="hd">最新发布信息</div>
					<div class="bd">
					<div id="indextop">
							<div id="indextop1">
                            
                            <!--{php $latest_info = qq3479015851_get_infos(10,NULL,NULL,NULL,NULL,NULL,NULL,NULL,$city[cityid]);}-->
							<!--{loop $latest_info $SystemGlobalcfm}-->
							<div class="li"><span class="tm">[{echo GetTime($SystemGlobalcfm[begintime],'y-m-d')}]</span><span class="tt"><a href="{$SystemGlobalcfm[uri]}" title="{$SystemGlobalcfm[title]}" target="_blank" >{$SystemGlobalcfm[title]}</a></span></div>
							<!--{/loop}-->
                            
							</div>
							<div id="indextop2"></div>
						</div>
					</div>
					<div class="postinfo">
						<input type="button" value="马上发布信息" class="footsearch_post" onclick="window.open('{$SystemGlobalcfm_global[SiteUrl]}/{$SystemGlobalcfm_global[cfg_postfile]}?cityid={$city[cityid]}')" style="margin-left:43px;">
						<input type="button" value="修改/删除信息" class="footsearch_submit" onclick="window.open('{$SystemGlobalcfm_global[SiteUrl]}/delinfo.php?cityid={$city[cityid]}')">
					</div>
				</div>
			</div>
			<div class="col4">
				<div class="todaynews">
					<ul>
                    	<!--{php $i=1;$top_news	= qq3479015851_get_news(18,NULL,NULL,NULL,NULL,NULL,$cityid);}-->
                        <!--{loop $top_news $SystemGlobalcfm}-->
                        <!--{if $i ==1}-->
						 <div class="head">
							 <h1><a href="{$SystemGlobalcfm[uri]}" target="_blank" >{$SystemGlobalcfm[title]}</a></h1>
							 <p>{echo cutstr($SystemGlobalcfm[content],254)}<a href="{$SystemGlobalcfm[uri]}" style="margin-left:20px" target="_blank">查看全文>></a></p>
						</div>
						<!--{else}-->
						<div class="li"><span class="date">{echo GetTime($SystemGlobalcfm[begintime],'y-m-d')}</span><a href="{$SystemGlobalcfm[caturi]}" class="catname">{$SystemGlobalcfm[catname]}</a><a href="{$SystemGlobalcfm[uri]}" title="{$SystemGlobalcfm[title]}" target="_blank">{$SystemGlobalcfm[title]}</a></div>
						<!--{/if}-->
                        <!--{php $i++;}-->
                        <!--{/loop}-->
					</ul>
				</div>
			</div>
			<div class="col5">
				<div class="top10">
				<h3 class="top_tips">热门机构推荐榜</h3>
				<ul>
                	{php $i=1;}
                    <!--{php $hot_member = qq3479015851_get_members(12,3,NULL,NULL,NULL,NULL,NULL,$city[cityid]);}-->
                    <!--{loop $hot_member $SystemGlobalcfm}-->
					<li class="stitle" id="s_tle_{$i}" onmouseover="show_top10({$i});" {if $i==1}style="display:none;"{/if}><span>{$i}</span><a href="{$SystemGlobalcfm[uri]}" target="_blank">{echo cutstr($SystemGlobalcfm[tname],28)}</a></li>
					<li class="ithumb" id="i_img_{$i}" {if $i >1}style="display:none;"{/if}>
						<div class="ithumb_c">
						<p class="i_num">{$i}</p>
						<p class="i_img"><a href="{$SystemGlobalcfm[uri]}" target="_blank"><img src="{$SystemGlobalcfm_global[SiteUrl]}{$SystemGlobalcfm[prelogo]}" width="78" height="58" alt="{$SystemGlobalcfm[tname]}" border="0" /></a></p>
						<p class="i_tle"><a href="{$SystemGlobalcfm[uri]}" target="_blank">{$SystemGlobalcfm[tname]}</a></p>
						</div>
					</li>
                    {php $i++;}
                    <!--{/loop}-->
					<script type="text/javascript" language="javascript" src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/news.js"></script>
				</ul>
				<p class="top_more"><a href="{$SystemGlobalcfm_global[SiteUrl]}/{$SystemGlobalcfm_global[cfg_member_logfile]}?mod=register&action=store" target="_blank">立即注册商家会员>></a></p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="column2">
			<div class="tuwen">
				<div class="hd">精彩图文</div>
				<div class="bd">
					<ul>
                    <!--{php $image_news = qq3479015851_get_news(7,NULL,1,NULL,NULL,1,$city[cityid]);}-->
                    <!--{loop $image_news $SystemGlobalcfm}-->
					<li><a href="{$SystemGlobalcfm[uri]}" target="_blank"><img src="{echo strstr($SystemGlobalcfm[imgpath],'http') ? $SystemGlobalcfm[imgpath] : $SystemGlobalcfm_global[SiteUrl].$SystemGlobalcfm[imgpath]}" alt="{$SystemGlobalcfm[title]}"/></a><span><a href="{$SystemGlobalcfm[uri]}" title="{$SystemGlobalcfm[title]}" {if $SystemGlobalcfm[iscommend] == 1}style="color:red"{/if}>{$SystemGlobalcfm[title]}</a></span></li>
					<!--{/loop}-->
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="column3">
			<div class="news_daohang">
				<div class="bd">
					<ul>
                    {php $i=1;}
                    <!--{loop $channel $SystemGlobalcfm}-->
						<div class="square {if $i%2 != 0}fl{else}fr{/if}">
							<div class="hc">
								<span class="cate">{$SystemGlobalcfm[catname]}</span>
								<span class="more"><a href="{$SystemGlobalcfm[uri]}" target="_blank">更多</a></span>
							</div>
							<div class="bc">
                            <!--{loop $SystemGlobalcfm[news] $w}-->
								<div class="li"><span class="title"><a href="{$w[uri]}" title="{$w[title]}" target="_blank" {if $w[iscommend] == 1}style="color:red"{/if}>{$w[title]}</a></span><span class="time">{echo GetTime($w[begintime],'y-m-d')}</span></div>
							<!--{/loop}-->
							</div>
						</div>
                    {php $i++;}
                    <!--{/loop}-->
						
					</ul>
				</div>
			</div>
			<div class="read">
				<div class="hd"><span>热门阅读排行</span></div>
				<div class="bd">
					<ul>
                    	<!--{php $hot_news	= qq3479015851_get_news(20,NULL,NULL,NULL,1,1,$city[cityid]);}-->
                    	<!--{loop $hot_news $SystemGlobalcfm}-->
						<div class="li"><a target="_blank" href="{$SystemGlobalcfm[uri]}" title="{$SystemGlobalcfm[title]}" {if $SystemGlobalcfm[iscommend] == 1}style="color:red"{/if}>{echo cutstr($SystemGlobalcfm[title],28)}</a></div>
						<!--{/loop}-->
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		{mytemplate inc_foot}
	</div>
</body>
</html>
<script type="text/javascript">loadDefault(['newsindex','ppRoll']);</script>
<script type="text/javascript">var indextop = new ppRoll({speed:60,demo:"indextop",demo1:"indextop1",demo2:"indextop2",objStr:"indextop",width:"310px",height:"217px",direction:"top"});</script>