<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公司相册-{$store[tname]}-{$SystemGlobalcfm_global[SiteName]}</title>
<link href="{$SystemGlobalcfm_global[SiteUrl]}/template/spaces/store/css/{$store[template]}.css" type="text/css" rel="stylesheet" />
</head>
<body>

{template header}
<div class="content">
	{template sider}
    <link rel="stylesheet" type="text/css" href="{$SystemGlobalcfm_global[SiteUrl]}/template/default/css/jquery.lightbox.css" media="screen"/>
	<script language="javascript">var current_domain = '{$SystemGlobalcfm_global[SiteUrl]}';</script>
    <script type="text/javascript" src="{$SystemGlobalcfm_global[SiteUrl]}/template/default/js/jquery.lightbox.js"></script>
    <script type="text/javascript">$(function() {$('#ISL_Cont_1 a').lightBox();});</script>
	<div class="cright">
		<div class="box product_main">
        	<div class="tit"><span>公司相册</span></div> 
			<div class="bd">
				<ul  id="ISL_Cont_1">
				{loop $album $SystemGlobalcfm}
				<li class="item"><a href="{$SystemGlobalcfm_global[SiteUrl]}{$SystemGlobalcfm[path]}">
				<img width="162" height="150" src="{$SystemGlobalcfm_global[SiteUrl]}{$SystemGlobalcfm[prepath]}" alt="{$SystemGlobalcfm[title]}" /><span class="title"> {echo cutstr($SystemGlobalcfm[title],20)} </span></a>
				</li>
				{loopelse}
				<div class="clear"></div>
				<p>暂无相关图片</p>
				<div class="clear"></div>
				{/loop}
				</ul>
			</div>
            <div class="clear"></div>
            <div class="pagination" style="margin-left:15px!important;">{$pageview}</div>
		</div>
	</div>
</div>
<div class="clear15"></div>
{template footer}
</body>
</html>