<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>{$row[title]} - {$row[catname]} - {$qq3479015851_global[SiteName]}</title>
    <meta name="keywords" content="{$row[title]}"/>
    <meta name="description" content="{$row[title]}-{$qq3479015851_global[SiteName]}手机版"/>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/info.css">
    <script>window['current'] = '{$row[catname]}';</script>
    <script>function seeContact(id){if(confirm("查看该信息联系方式需支付{$row[usecoin]}个金币，确定查看吗？")){var url='index.php?mod=information&action=seecontact&&id='+id;$.get(url,function(data){if(data==='余额不足'){QQ3479015851WindowMsg('',1,'您当前金币余额不足，请先充值','index.php?mod=member&action=pay');return false}else if(data==='请先登录'){QQ3479015851WindowMsg('',1,'您尚未登录，请先登录','index.php?mod=login&returnurl=');return false}else{$("#showContact").html(data);$("#djcklxfs").hide();$("#showContact").show();return true}})}}</script>
</head>
<body class="{$qq3479015851_global[cfg_tpl_dir]}">
<div class="wrapper">
	{template header_search}
	<div class="detail">	
		<div class="tit_area">
			<h1 class="tit">{$row[title]}</h1>
			<div class="status_bar">
				<span class="date"><i class="ico"></i>{echo GetTime($row[begintime])}</span>
				<span class="browse_num"><i class="ico"></i><span id="totalcount" >{$row[hit]}</span>次</span>
				<a rel="nofollow" href="{$qq3479015851_global[SiteUrl]}/box.php?part=wap_shoucang&infoid={$row[id]}" class="btn_Favorite"><i class="ico"></i>收藏</a>
			</div>
		</div>
		{if $row[image]}
		
		
		
	<link href="template/css/qq3479015851/photoswipe.css" type="text/css" rel="stylesheet"/>
	<link href="template/css/qq3479015851/swiper.min.css" type="text/css" rel="stylesheet"/>
<style>

#photos {
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 20.25rem;
}

.swiper-slide {
    text-align: center;
    font-size: 1.0625rem;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#photos img {

}

#photos p {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    z-index: 100000;
}


</style>
	<script src="template/css/qq3479015851/image-error.js"></script>
	<script src="template/css/qq3479015851/swiper.min.js"></script>
	<script src="template/css/qq3479015851/photoswipe.min.js"></script>
	<script src="template/css/qq3479015851/photoswipe-ui-default.min.js"></script>
	
<div id="main">
    <div class="demo">
        <div id="photos">
            <!--滑动焦点图start-->
            <div class="swiper-container" alt="Image description">
                <div class="swiper-wrapper">
				   
				   <script language="javascript">
					var arrimg = [];
					var arrimg_w=[];
					var arrimg_h=[];
					var arrimg_prew=[];
					var arrimg_preh=[];
				   </script>
				   {php $ii=1;}
                   {loop $row[image] $mymps}
					
					<div class="swiper-slide">
						<img  src="{$mymps_global[SiteUrl]}{$mymps[prepath]}" width="{php echo $mymps[prewidth]==0?'':$mymps[prewidth]}" height="{php echo $mymps[preheight]==0?'':$mymps[preheight]}" />
						
						
						<p id="pictureTag_{$ii}">{$ii}</p>
					</div>
					{php $ii++;}
						<script>
							arrimg.push("{$mymps_global[SiteUrl]}{$mymps[path]}");
							arrimg_w.push("{$mymps[width]}");
							arrimg_h.push("{$mymps[height]}");
							arrimg_prew.push("{$mymps[prewidth]}");
							arrimg_preh.push("{$mymps[preheight]}");
						</script>
				   {/loop}
				   
				   <script language="javascript">
				   
				        //var pictureShowNumbers = "9";//alert(pictureShowNumbers);
						var pictureShowNumbers = arrimg.length;
						//通过循环来标记每个图片是第几张,pictureTag_1
							for (var i = 1; i <= pictureShowNumbers; i++) {
								var pictureTag = i + "/" + pictureShowNumbers;
								$("#pictureTag_" + i).html(pictureTag);
							}
							var pictureSwiperDetailsAll = arrimg;

				   
				   
				   </script>
				   
				   
                </div>
            </div>            
            <!--滑动焦点图end-->
        </div>

        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div> 
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script >

    var swiper = new Swiper('.swiper-container');
    var swiper = new Swiper('.swiper-container',{
        loop : true,
        autoplay :6000,
    });
    
    var openPhotoSwipe = function() {
        var pswpElement = document.querySelectorAll('.pswp')[0];
        var items = new Array();
		var qq_n=0;
        for (var key in pictureSwiperDetailsAll) {
            var singlePicture = new Array();
            singlePicture.src = pictureSwiperDetailsAll[key];
			
			if(arrimg_w[qq_n]==0){
				 singlePicture.w = 454;
			}else{
				singlePicture.w=arrimg_w[qq_n];
			}
			if(arrimg_h[qq_n]==0){
				 singlePicture.h = 341;
			}else{
				singlePicture.h = arrimg_h[qq_n];
			}
            
			
            items.push(singlePicture);
			qq_n=qq_n+1;
        }

        var options = {
            history: false,
            focus: false,
            showAnimationDuration: 0,
            hideAnimationDuration: 0
        };
        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };
    document.getElementById('photos').onclick = openPhotoSwipe;
</script>



		
		
		
		{/if}
        {if $row[extra]}
		<ul class="attr_info" style="margin-top:0;">
        	{loop $row[extra] $qq3479015851}
            {if $qq3479015851[value]}
			<li>
				<span class="attrName2"  style="{if strexists($qq3479015851[value],'元')}color:#ff7800;{/if}">{$qq3479015851[title]}：</span>
				<span class="attrVal"  style="{if strexists($qq3479015851[value],'元')}color:#ff7800;font-weight:bold;font-size:20px;{/if}">{if in_array($qq3479015851[value],array('0元','0元/月','0元/平米/天','0万元','0.00元','0.00万元'))}面议{else}{echo str_replace('.00','',$qq3479015851[value])}{/if}</span>
			</li>
            {/if}
			{/loop}
		</ul>
		{/if}
    	{if $row[usecoin] != 0 && $iflogin == 0}
        <script>QQ3479015851WindowMsg('',1,'该信息联系方式已被隐藏，登录后可查看！','index.php?mod=login&returnurl={echo urlencode("index.php?mod=information&id=".$row[id])}','nodeurl');</script>
        {elseif $viewid!=$id && $row[usecoin] > 0 && $iflogin == 1}
        <script>QQ3479015851WindowMsg('',0,'查看该信息联系方式需支付{$row[usecoin]}个金币！');</script>
        <ul class="attr_info bottom">
			<span class="attrVal mfico">
				<li id="djcklxfs">
					<p class="mt10">
						<a href="javascript:void(0);" onClick="seeContact('{$id}');" class="fangico"><i></i>点击查看联系方式</a>
					</p>
				</li>
                <div id="showContact"></div>
			</span>
		</ul>
        {elseif $row[usecoin]<=0 || $viewid == $id}
        {if $row[contactview] == 1}
		<ul class="attr_info bottom">
			<span class="attrVal mfico">
            	{if $row[qq]}
				<li>
					<span class="attrName">联系 Q Q：</span>
					<span class="attrVal"> {$row[qq]}</span>
				</li>
				{/if}
				<li>
					<span class="attrName">联系电话：</span>
					<span class="attrVal"><a class="fred" href="tel:{$row[tel]}">{$row[tel]}</a>&nbsp;&nbsp;{$row[contact_who]}</span>
				</li>
                <li>
					<span class="attrName">认证情况：</span>
					<span class="attrVal renzheng">
					{if $mayi[per_certify] == 1}实名已认证<span class="smrz"></span>{else}实名未认证<span class="nosmrz"></span>{/if}&nbsp;&nbsp;
					{if $mayi[com_certify] == 1}执照已认证<span class="yyzz"></span>{else}执照未认证<span class="noyyzz"></span>{/if}
					</span>
				</li>
				<li>
					<p class="mt10">
						<a href="tel:{$row[tel]}" class="fangico dianhua"><i></i>拨打电话</a>
                        <a href="sms:{$row[tel]}" class="fangico duanxin"><i></i>短信咨询</a>
					</p>
				</li>
			</span>
		</ul>
        {else}
        <script>QQ3479015851WindowMsg('',0,'该信息已过期，联系方式已被隐藏!');</script>
        {/if}
        {/if}
		<div class="detail-tit">详细描述</div>
		<div class="detail_txt_che">
			{$row[content]}
			<br />联系我时，请说是在{$qq3479015851_global[SiteName]}看到的。
		</div>
        {if $row[mappoint]}
        <div class="detail-tit">地理位置</div>
		<div class="detail_txt_che">
			<iframe src="{$qq3479015851_global[SiteUrl]}/map.php?title={$row[title]}&isshow=1&p={$row[mappoint]}&width=360&height=190" height="205" width="100%" frameborder="0" scrolling="no"></iframe>
		</div>
        {/if}
		<div class="detail-tit">相关信息</div>
		<div class="follow">
			<ul>
            	{php $relevant = qq3479015851_get_infos(6,NULL,NULL,NULL,$row['catid'],NULL,NULL,NULL,$cityid);}
            	{loop $relevant $qq3479015851}
					<li><a href="index.php?mod=information&id={$qq3479015851[id]}">{echo cutstr($qq3479015851['title'],26)}</a><span>{echo get_format_time($qq3479015851['begintime'])}</span></li>
				{/loop}
			</ul>

			<div class="more" style="margin-top:20px;">
				<a style="text-align: center;position: relative" href="index.php?mod=category&catid={$row[catid]}&cityid=$cityid">查看更多{$row[catname]}信息&gt;&gt;</a>
			</div>
		</div>
	</div>
</div>
{template footer}
<div id="viewBigImagebg"></div>
<div id="viewBigImage">
    <div class="bigimg_topbar">
        <div class="btn_back"><span>返回</span></div>
        <div class="bigimg_num"><span class="curr_img">1</span>/<span class="total_img">9</span></div>
    </div>
    <div class="bigimg_box"><ul></ul></div>
</div>
<script src="template/js/slide.js"></script>
</div>
</body>
</html>
<div style="display:none"><script src="template/js/history.js"></script>