<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>我的收藏 - {$SystemGlobalcfm_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/member.css">
    <script>window['current'] = '会员中心';</script>
</head>
<body class="{$SystemGlobalcfm_global[cfg_tpl_dir]}">
<div class="wrapper">

	{template header_search}	
	
	<div class="dl_nav">
		<span>
			<a href="index.php">首页</a>&gt;<a href="index.php?mod=member">会员中心</a>&gt;<a href="index.php?mod=shoucang">我的收藏</a>
		</span>
	</div>

	<div class="ucenter">
		<ul class="u_infolst">
        	{loop $list $SystemGlobalcfm}
			<li><a href="{$SystemGlobalcfm[url]}"><h2>{$SystemGlobalcfm[title]}</h2><div class="attr"><span>{$SystemGlobalcfm[catname]}</span><span class="time">{$SystemGlobalcfm[intime]}</span></div></a></li>
            {loopelse}
            <div style="margin:30px 0;text-align:center">您还没有收藏信息哦~</div>
            {/loop}
		</ul>	  
	</div>
	
</div>
{template footer}
</body>
</html>