<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>我的文章 - {$SystemGlobalcfm_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/member.css">
    <script>window['current'] = '会员中心';</script>
    
</head>

<body class="{$SystemGlobalcfm_global[cfg_tpl_dir]}">
<div class="wrapper">

	{template header_search}
	
	<div class="dl_nav">
		<span>
			<a href="index.php">首页</a>&gt;<a href="index.php?mod=member">会员中心</a>&gt;<a href="index.php?mod=member&action=docu">我的文章</a>
		</span>
	</div>

	<div class="my_docu">
    <ul>
    	{loop $list $SystemGlobalcfm}
        <li id="info{$SystemGlobalcfm[id]}">
            <h3><a href="index.php?mod=store&id={$row[id]}&action=docu&docuid={$SystemGlobalcfm[id]}">{$SystemGlobalcfm[title]}</a></h3>
            <dl class="cfix">
             <dt>浏览人次：{$SystemGlobalcfm[hit]}次</dt>
             <dd>发布时间：{echo GetTime($SystemGlobalcfm[pubtime])}</dd>
            </dl>
        </li>
        {/loop}
    </ul>
	</div>
    
	{if $info_list}
	<div class="pager" style="border-top:none; border-bottom:1px #ddd solid;">
    {$pageview}
	</div>
	{/if}
</div>
{template footer}
</body>
</html>